---
import BaseLayout from "../../layouts/BaseLayout.astro";
import { getCollection } from "astro:content";
import "../../styles/pages/articles.css";

export async function getStaticPaths() {
    const posts = await getCollection("ideas");
    return posts.map((post) => ({
        params: { slug: post.slug },
        props: { post },
    }));
}

const { post } = Astro.props;
const { Content } = await post.render();
---

<BaseLayout title=`CoolDevices.Online - ${post.data.title}`>
    <div class="article idea">
        <Content />
    </div>
</BaseLayout>
