.article {
    display: flex;
    flex-direction: column;
}

.article img {
    display: block;
    max-width: 360px;
    margin: auto;
}

.article sub.image-subheader {
    opacity: 0.7;
    font-size: var(--font-size-small);
    display: block;
    text-align: center;
    margin-top: 1em;
}

.image-subheader::after, .image-subheader::before {
    content: "";
    display: block;
    clear: both;
    border: 1px solid white;
    opacity: 0.5;
    margin: 0.25em auto 0.25em;
    width: 360px;
}