---
export const frontmatter = { title: "About", navTitle: "About" };
import BaseLayout from "../layouts/BaseLayout.astro";
import SectionHeader from "../components/SectionHeader.astro";
---

<BaseLayout title="CoolDevices.Online - About">
  <h1>About</h1>
  <hr/>
  <p>Welcome my personal blog, <strong>CoolDevices.Online</strong>!</p>
  <SectionHeader title="What is this?" />
    <div class="intro">
      <p>I am <a href="https://github.com/zombietfk"><strong>ZOMBIE⁜TFK</strong></a>, aka BigCheeseTaste, aka Sam :)</p>
      <p>The goal of this blog is to document the developmet of my various personal projects, share my tutorials, ideas, and other errant thoughts!</p>
      <p>You may notice a general focus on <strong>Game Development</strong>, but will also cover some web dev and lighter computer science topics. Thank you for visiting!</p>
    </div>
</BaseLayout>

<style>
  .content {
    padding: 16px;
    box-shadow: none;
  }
  .content p {
    margin-top: 0;
  }
</style>
