---
const { title = "CoolDevices", subtitle = "ZOMBIE+TFK" } = Astro.props;
---

<div class="surface brand">
  <div class="title">
    <div class="brandline">
      <div class="chip">
        <a href="https://github.com/zombietfk">
          <img src="https://github.com/zombietfk.png" class="icon" />
        </a>
      </div>
      <div>
        <div>
          <div>
            <a href="/" class="homepage-link">{title}</a>
            <span class="logo">◆</span>
          </div>
          <div class="sub muted">
            <i class="fa-brands fa-github"></i>
            <a class="github-profile-link" href="https://github.com/zombietfk">
              {subtitle}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<style>
  .brand {
    padding: 12px 12px 14px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 12px;
    box-shadow: none;
  }
  .title {
    min-width: 100%;
  }
  .brandline {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 900;
    letter-spacing: 0.2px;
    justify-content: space-between;
  }
  .logo {
    color: var(--green);
  }
  .homepage-link {
    color: var(--accent);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-decoration: none;
    font-family: var(--font-site-header);
  }
  .sub {
    font-size: var(--font-size-muted);
    text-align: right;
  }
  .github-profile-link {
    text-decoration: none;
  }
  .chip {
    border: 1px solid var(--border);
    background: rgba(0, 0, 0, 0.18);
    padding: 12px 10px 0px 10px;
    border-radius: 100%;
    color: var(--accent);
    white-space: nowrap;
  }
  .chip > a > img {
    width: 3rem;
    height: 3rem;
  }
</style>
